### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
# sort by school name
school_data = school_data.sort_values(['school_name'])
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
num_of_schools = len(school_data['school_name'].unique())

In [3]:
# Calculate the total number of students
total_students = school_data['size'].sum()

In [4]:
# Calculate the total budget
total_budget = school_data['budget'].sum()

In [5]:
# Calculate the average math score
avg_math_score = student_data['math_score'].mean()

In [6]:
# Calculate the average reading score
avg_reading_score = student_data['reading_score'].mean()

In [7]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_df = student_data[student_data['math_score'] >= 70]
percent_passing_math = len(passing_math_df) / total_students

In [8]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_df = student_data[student_data['reading_score'] >= 70]
percent_passing_reading = len(passing_reading_df) / total_students

In [9]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
passing_reading_and_math_df = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)]
percent_passing_reading_and_math = len(passing_reading_and_math_df) / total_students

In [10]:
# Create a dataframe to hold the above results
data = {'Number of Schools':[num_of_schools], 
        'Total Students':[total_students], 
        'Total Budget':[total_budget], 
        'Average Math Score': [avg_math_score], 
        'Averaege Reasding Score': [avg_reading_score], 
        '% Passing Math': [percent_passing_math], 
        '% Passing Reading': [percent_passing_reading],
        '% Overall Passing': [percent_passing_reading_and_math]}

district_summary_df = pd.DataFrame(data)
district_summary_df


# Formate the data and output it. 
formatted_district_summary_df = district_summary_df

formatted_district_summary_df["Total Students"] = formatted_district_summary_df["Total Students"].astype(int).map("{:,}".format)
formatted_district_summary_df["Total Budget"] = formatted_district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
formatted_district_summary_df["% Passing Math"] = (formatted_district_summary_df["% Passing Math"] * 100)
formatted_district_summary_df["% Passing Reading"] = (formatted_district_summary_df["% Passing Reading"] * 100)
formatted_district_summary_df["% Overall Passing"] = (formatted_district_summary_df["% Overall Passing"] * 100)


formatted_district_summary_df

,Number of Schools,Total Students,Total Budget,Average Math Score,Averaege Reasding Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
school_data_summary = pd.DataFrame()

school_data_summary['School Name'] = school_data['school_name']
school_data_summary['School Type'] = school_data['type']
school_data_summary['Total Students'] = school_data['size']
school_data_summary['Total School Budget'] = school_data['budget']

# calculate per Student Budget
per_student_budget = school_data['budget'] / school_data['size']
school_data_summary['Per Student Budget'] = per_student_budget

In [12]:
# Add average reading and math score of each school

#group the students by school
grouped_by_school = student_data.groupby(['school_name'])

# calculate the average scores
mean_score_df = grouped_by_school.mean().rename(columns={"math_score": "Average Math Score", "reading_score": "Average Reading Score"})

# add the average scores to the school data
school_data_summary["Average Math Score"] = list(mean_score_df['Average Math Score'])
school_data_summary["Average Reading Score"] = list(mean_score_df['Average Reading Score'])

In [13]:
# % Passing Math
# group students with passing Math score by school name and count them.
grouped_by_school_passing_math_count_df = passing_math_df.groupby(['school_name']).count()
num_passing_math_list = list(grouped_by_school_passing_math_count_df['math_score'])
school_data_summary["% Passing Math"]  = num_passing_math_list / school_data['size']

# % Passing Reading
# group students with passing Reading score by school name and count them.
grouped_by_school_passing_reading_count_df = passing_reading_df.groupby(['school_name']).count()
num_passing_reading_list = list(grouped_by_school_passing_reading_count_df['reading_score'])
school_data_summary["% Passing Reading"]  = num_passing_reading_list / school_data['size']

# % Overall Passing (The percentage of students that passed math and reading.)
grouped_by_school_passing_math_reading_count_df = passing_reading_and_math_df.groupby(['school_name']).count()
num_passing_math_and_reading_list = list(grouped_by_school_passing_math_reading_count_df['math_score'])
school_data_summary["% Overall Passing"]  = num_passing_math_and_reading_list / school_data['size']
school_data_summary

# Format and output the data

school_data_summary_formatted = pd.DataFrame()

school_data_summary_formatted['School Name'] = school_data_summary['School Name']
school_data_summary_formatted['School Type'] = school_data_summary['School Type']
school_data_summary_formatted["Total Students"] = school_data_summary["Total Students"].astype(int).map("{:,}".format)
school_data_summary_formatted["Total School Budget"] = school_data_summary["Total School Budget"].astype(float).map("${:,.2f}".format)
school_data_summary_formatted["Per Student Budget"] = school_data_summary["Per Student Budget"].astype(float).map("${:,.2f}".format)
school_data_summary_formatted["Average Math Score"] = school_data_summary["Average Math Score"]
school_data_summary_formatted["Average Reading Score"] = school_data_summary["Average Reading Score"]
school_data_summary_formatted["% Passing Math"] = (school_data_summary["% Passing Math"] * 100)
school_data_summary_formatted["% Passing Reading"] = (school_data_summary["% Passing Reading"] * 100)
school_data_summary_formatted["% Overall Passing"] = (school_data_summary["% Overall Passing"] * 100)

school_data_summary_formatted.head(15)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
7,Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
6,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
1,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
13,Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
3,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
0,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
12,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
11,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
2,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
14,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
5,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
10,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [14]:
school_data_sorted_by_performance = school_data_summary_formatted.sort_values(['% Overall Passing'], ascending=False)

school_data_sorted_by_performance.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [15]:
school_data_sorted_by_performance = school_data_summary_formatted.sort_values(['% Overall Passing'], ascending=True)

school_data_sorted_by_performance.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [16]:
grade_nine_df = school_data_complete[school_data_complete['grade'] == "9th"]
grade_ten_df = school_data_complete[school_data_complete['grade'] == "10th"]
grade_eleven_df = school_data_complete[school_data_complete['grade'] == "11th"]
grade_twelve_df = school_data_complete[school_data_complete['grade'] == "12th"]

grade_9_series = grade_nine_df.groupby(['school_name'])['math_score'].mean()
grade_10_series = grade_ten_df.groupby(['school_name'])['math_score'].mean()
grade_11_series = grade_eleven_df.groupby(['school_name'])['math_score'].mean()
grade_12_series = grade_twelve_df.groupby(['school_name'])['math_score'].mean()

average_math_score_by_grade = {'Grade 9 Mean Math Score': grade_9_series, 
        'Grade 10 Mean Math Score': grade_10_series, 
        'Grade 11 Mean Math Score': grade_11_series, 
        'Grade 12 Mean Math Score': grade_12_series}

average_math_score_by_grade_df = pd.DataFrame(average_math_score_by_grade)

average_math_score_by_grade_df.head(15)

,Grade 9 Mean Math Score,Grade 10 Mean Math Score,Grade 11 Mean Math Score,Grade 12 Mean Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
grade_9_series = grade_nine_df.groupby(['school_name'])['reading_score'].mean()
grade_10_series = grade_ten_df.groupby(['school_name'])['reading_score'].mean()
grade_11_series = grade_eleven_df.groupby(['school_name'])['reading_score'].mean()
grade_12_series = grade_twelve_df.groupby(['school_name'])['reading_score'].mean()

average_reading_score_by_grade = {'Grade 9 Mean Reading Score': grade_9_series, 
        'Grade 10 Mean Reading Score': grade_10_series, 
        'Grade 11 Mean Reading Score': grade_11_series, 
        'Grade 12 Mean Reading Score': grade_12_series}

average_reading_score_by_grade_df = pd.DataFrame(average_reading_score_by_grade)

average_reading_score_by_grade_df.head(15)

,Grade 9 Mean Reading Score,Grade 10 Mean Reading Score,Grade 11 Mean Reading Score,Grade 12 Mean Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [22]:
# create bins and labels for the budget ranges
bins = [0,585, 630, 645, 680]
group_labels = ["Less Than $585", "$586-630", "$631-645", "$646 to 680"]

#slcie data and place into bins
budget_bins = pd.cut(school_data_summary["Per Student Budget"], bins, labels=group_labels)

# add the budget ranges to the school data
school_data_summary['Budget Range'] = budget_bins
# group data by budget range
budget_groups = school_data_summary.groupby(['Budget Range'])
# create a df for the budget ranges
budget_df = budget_groups[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()


# format the other columns
budget_df['Average Math Score'] = round(budget_df['Average Math Score'], 2)
budget_df['Average Reading Score'] = round(budget_df['Average Reading Score'], 2)
budget_df['% Passing Math'] = round(budget_df['% Passing Math'] * 100, 2)
budget_df['% Passing Reading'] = round(budget_df['% Passing Reading'] * 100, 2)
budget_df['% Overall Passing'] = round(budget_df['% Overall Passing'] * 100, 2)

print(budget_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Budget Range,,,,,
Less Than $585,83.46,83.93,93.46,96.61,90.37
$586-630,81.90,83.16,87.13,92.72,81.42
$631-645,78.52,81.62,73.48,84.39,62.86
$646 to 680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

In [19]:

# create bins and labels for school size ranges
bins = [0, 1000, 2000, 5000]
group_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# slice data and place into bins
size_bins = pd.cut(school_data_summary["Total Students"], bins, labels=group_labels)

# add the size ranges to the school data
school_data_summary['School Size Range'] = size_bins
# group data by size range
size_groups = school_data_summary.groupby(['School Size Range'])
# create a df for the budget ranges
size_df = size_groups[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']].mean()

# format the other columns
size_df['Average Math Score'] = round(size_df['Average Math Score'], 2)
size_df['Average Reading Score'] = round(size_df['Average Reading Score'], 2)
size_df['% Passing Math'] = round(size_df['% Passing Math'] * 100, 2)
size_df['% Passing Reading'] = round(size_df['% Passing Reading'] * 100, 2)
size_df['% Overall Passing'] = round(size_df['% Overall Passing'] * 100, 2)

size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size Range,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.88
Medium (1000-2000),83.37,83.86,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.29

## Scores by School Type

* Perform the same operations as above, based on school type

In [20]:
type_df = school_data_summary.groupby(['School Type']).mean()[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']]

# format
type_df['Average Math Score'] = round(type_df['Average Math Score'], 2)
type_df['Average Reading Score'] = round(type_df['Average Reading Score'], 2)
type_df['% Passing Math'] = round(type_df['% Passing Math'] * 100, 2)
type_df['% Passing Reading'] = round(type_df['% Passing Reading'] * 100, 2)
type_df['% Overall Passing'] = round(type_df['% Overall Passing'] * 100, 2)

type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67